/*@import "base/animations";*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 80rem;
  display: grid;
  grid-template-rows: min-content 40vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.pg-name {
  display: none; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #24221F; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #333;
  line-height: 1; }

.heading-1 {
  font-size: 2.5rem; }

.heading-2 {
  font-size: 2rem;
  font-style: italic; }
  .heading-2--red {
    color: #8E001C; }
  .heading-2--blue {
    color: #17125B; }

.heading-3 {
  font-size: 1.8rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.6rem; }
  .heading-4--red {
    color: #8E001C; }
  .heading-4--blue {
    color: #17125B; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.has-text-drk-blue {
  color: #17125B !important; }

.has-bg-drk-blue {
  background-color: #17125B !important; }

.has-text-drk-red {
  color: #8E001C !important; }

.has-bg-drk-red {
  background-color: #8E001C !important; }

.u-center-text {
  text-align: center !important; }

.mb-sm {
  margin-bottom: 1.5rem !important; }

.mb-med {
  margin-bottom: 4rem !important; }

.mb-big {
  margin-bottom: 8rem !important; }

.mt-big {
  margin-top: 8rem !important; }

.mt-huge {
  margin-top: 10rem !important; }

.is-active {
  background-color: #FEB41C !important;
  font-weight: 700; }
  .is-active a {
    color: #24221F; }
  .is-active:hover {
    background-color: #ffde9b !important; }

.mojo-btn, .mojo-btn:link, .mojo-btn:visited, .btnScrollToTop {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 1rem 4rem;
  display: inline-block; }

.mojo-btn, .mojo-btn:link, .mojo-btn:visited {
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.mojo-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .mojo-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.mojo-btn:active, .mojo-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.mojo-btn--saffron {
  background-color: #FEB41C;
  color: #333; }
  .mojo-btn--saffron:hover {
    background-color: #e69b01;
    color: white; }
  .mojo-btn--saffron::after {
    background-color: #FEB41C; }

.mojo-btn--white {
  background-color: #FFF;
  color: #333; }
  .mojo-btn--white::after {
    background-color: #FFF; }

.mojo-btn--green {
  background-color: #55c57a;
  color: #FFF; }
  .mojo-btn--green::after {
    background-color: #55c57a; }

.mojo-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.mojo-btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btnScrollToTop {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  color: #FFF;
  background: rgba(142, 0, 28, 0.5);
  border: thin solid #FFF;
  border-radius: 50%;
  z-index: 99;
  padding: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease; }
  .btnScrollToTop:hover {
    background: rgba(142, 0, 28, 0.75); }

.showBtn {
  opacity: 1;
  transform: translateY(0); }

.footer {
  background-color: #24221F; }

header {
  grid-column: full-start / full-end; }

.header, .nav-bar {
  color: #FFF;
  background-color: #24221F;
  padding: 1rem 4rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo--img {
    height: 3.5rem; }
  .header__nap {
    font-size: 1.5rem;
    line-height: 1.2; }

.nav-bar {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between; }
  .nav-bar ul {
    list-style-type: none;
    display: flex; }
  .nav-bar__item {
    margin-right: 1rem;
    min-width: 14rem;
    padding: 0 2rem;
    text-align: center;
    background-color: #8E001C;
    transition: all .2s; }
  .nav-bar__item:hover {
    background-color: #ff0f3e;
    transform: translateY(-0.5rem); }
  .nav-bar__item:active, .nav-bar__item:focus {
    background-color: #ff8ea4;
    transform: translateY(-1rem); }
  .nav-bar__link {
    color: #F7F7F7;
    text-decoration: none; }
  .nav-bar__cta {
    justify-self: flex-end; }

section {
  background-color: #F7F7F7; }
