@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
@keyframes modal-open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modal-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes moveInRight {
  0% {
    display: none; }
  1% {
    display: flex;
    transform: translateX(0); }
  80% {
    transform: translateX(-100%); }
  100% {
    opacity: 1; } }

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@keyframes waggle-top {
  16.65% {
    transform: skew(-12deg); }
  33.3% {
    transform: skew(10deg); }
  49.95% {
    transform: skew(-6deg); }
  66.6% {
    transform: skew(4deg); }
  83.25% {
    transform: skew(-2deg); }
  100% {
    transform: skew(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: #EEE;
  background-color: #E8175D; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #24221F; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(12, min-content); }

.pg-name {
  display: none; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #0E0D0D;
  font-size: calc(1rem + .5vw); }

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin: 1rem 0; }

h1 {
  font-size: calc(1.6rem + 1vw); }

h2 {
  font-size: calc(1rem + 1vw); }

h3 {
  font-size: calc(.75rem + 1vw); }

h4 {
  font-size: calc(1rem + .5vw); }

ul, ol {
  margin-left: 1.4rem;
  list-style: none; }

ol {
  counter-reset: cnt; }
  ol li {
    counter-increment: cnt; }
  ol li::before {
    content: counter(cnt) ") "; }

.font-size-small {
  font-size: calc(.75rem + .25vw); }

.font-size-medium {
  font-size: calc(.75rem + 1vw); }

.font-size-large {
  font-size: calc(1rem + 1vw); }

.font-size-xlarge {
  font-size: calc(1.6rem + 1vw); }

.font-size-xxlarge {
  font-size: calc(2rem + 2vw); }

blockquote {
  font-family: "Josefin Sans", sans-serif;
  border-left: 0.2rem solid #777;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: ' \201C ' ' \201D ';
  font-weight: 500;
  font-size: calc(.75rem + 1vw);
  width: calc(80vw); }
  blockquote:before {
    color: #777;
    content: open-quote;
    font-size: calc(10rem + .625vw);
    line-height: 0.1rem;
    margin-right: 0.25rem;
    position: relative;
    top: 4rem; }
  blockquote p {
    display: inline; }

.dropcap {
  float: left;
  font-size: 4rem;
  height: 4.1rem;
  line-height: 3rem;
  margin-bottom: -1rem;
  margin-right: .8rem;
  padding-top: .5rem;
  text-align: center;
  width: 2.6rem; }

.has-text-black {
  color: #000 !important; }

.has-text-blue {
  color: #17125B !important; }

.has-bg-blue {
  background-color: #17125B !important; }

.has-text-green {
  color: #55c57a !important; }

.has-bg-green {
  background-color: #55c57a !important; }

.has-text-hot {
  color: #E8175D !important; }

.has-bg-hot {
  background-color: #E8175D !important; }

.has-text-red {
  color: #8E001C !important; }

.has-bg-red {
  background-color: #8E001C !important; }

.has-text-saffron {
  color: #FEB41C !important; }

.has-text-white {
  color: #FFF !important; }

.has-bg-white {
  background-color: #FFF !important; }

/* 
.is-font-size-small{font-size: font-size(font-size-medium);}
.is-font-size-large{font-size: $font-size-large;}
 */
.is-centered {
  text-align: center; }

.is-italic {
  font-style: italic; }

.is-upper {
  text-transform: uppercase; }

.is-smcap {
  font-variant: small-caps; }

.is-block {
  display: block; }

.mb-sm {
  margin-bottom: 1.5rem !important; }

.mb-med {
  margin-bottom: 4rem !important; }

.mb-big {
  margin-bottom: 8rem !important; }

.mt-med {
  margin-top: 4rem !important; }

.mt-big {
  margin-top: 8rem !important; }

.mt-huge {
  margin-top: 10rem !important; }

.trade:after {
  font-family: inherit;
  color: inherit;
  margin-left: -1rem;
  content: ' \2122 ';
  vertical-align: top;
  font-weight: 400; }

.btn, .btn:link, .btn:visited, .btnScrollToTop {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 1rem !important;
  border: thin solid currentColor;
  padding: calc(.5em - 1px) 1em; }
  .btn:hover, .btnScrollToTop:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::before, .btn:link::before, .btn:visited::before {
  background-color: transparent; }

.btn:hover {
  background-color: #999;
  border-color: #777; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn__big {
  font-size: x-large; }

.btn--saffron {
  background-color: #FEB41C !important;
  color: #474747 !important;
  border-color: #e69b01 !important; }
  .btn--saffron:hover {
    background-color: #fec54f !important;
    color: white !important;
    border-color: currentColor !important; }

.btn--red {
  background-color: #8E001C !important;
  color: #F8F8F8 !important;
  border-color: #5b0012 !important; }
  .btn--red:hover {
    background-color: #ed457d !important;
    color: white !important;
    border-color: currentColor !important; }

.btnScrollToTop {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  background-color: rgba(142, 0, 28, 0.6);
  z-index: 99;
  padding: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  opacity: 0;
  transition: all 0.5s ease; }
  .btnScrollToTop svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    display: inline-block;
    fill: #EEE;
    transition: fill 0.5s ease; }
  .btnScrollToTop:hover {
    background-color: rgba(142, 0, 28, 0.9); }
    .btnScrollToTop:hover svg {
      fill: #FFF; }

.showBtn {
  opacity: 1;
  transform: translateY(0); }

#hero__btn--cta {
  margin: 6rem auto 0; }

.hero__big, .hero__med {
  color: #FFF;
  text-align: left;
  margin-top: -12rem;
  grid-column: container-start / container-end;
  padding: 2rem;
  background-size: cover !important;
  display: grid;
  justify-content: center;
  align-content: center; }
  .hero__big h1, .hero__med h1 {
    font-size: 3rem;
    line-height: 2;
    padding-top: 7rem; }

.hero__big {
  background: linear-gradient(to right, rgba(36, 34, 31, 0.6), rgba(14, 13, 13, 0.9)), url(../img/hero/impact.jpg) no-repeat center center;
  height: 70vh; }

.hero__med {
  height: 25vh; }
  .hero__med h1 {
    margin-top: 4rem; }
  .hero__med--about {
    background: linear-gradient(to right, rgba(36, 34, 31, 0.6), rgba(14, 13, 13, 0.9)), url(../img/hero/about-questions.jpg) no-repeat center bottom; }
  .hero__med--contact {
    background: linear-gradient(to right, rgba(36, 34, 31, 0.6), rgba(14, 13, 13, 0.9)), url(../img/hero/dial.jpg) no-repeat center bottom; }

svg.icon, svg.icon-blue, svg.icon-green, svg.icon-red, svg.icon-saffron, svg.icon-white {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 2px;
  vertical-align: middle; }

svg.icon {
  fill: currentColor; }
  svg.icon-blue {
    fill: #17125B; }
  svg.icon-green {
    fill: #28b485; }
  svg.icon-red {
    fill: #8E001C; }
  svg.icon-saffron {
    fill: #FEB41C;
    stroke: #333;
    stroke-width: 2; }
  svg.icon-white {
    fill: #FFF;
    stroke: #333;
    stroke-width: 2; }

.footer__code-icon {
  height: 3rem; }

:is(article, aside, main, section) a,
:is(article, aside, main, section) a:link,
:is(article, aside, main, section) a:visited, :is(header, footer) a,
:is(header, footer) a:link,
:is(header, footer) a:visited {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  padding: 0 2px;
  display: inline-block;
  vertical-align: baseline; }

/*  Text ANCHOR TAGS with slide-up effect */
:is(article, aside, main, section) a,
:is(article, aside, main, section) a:link,
:is(article, aside, main, section) a:visited {
  border-bottom: 1px solid #8E001C;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: all .5s ease; }
  :is(article, aside, main, section) a:before,
  :is(article, aside, main, section) a:link:before,
  :is(article, aside, main, section) a:visited:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8E001C;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: all .5s ease; }
  :is(article, aside, main, section) a:hover, :is(article, aside, main, section) a:focus, :is(article, aside, main, section) a:active,
  :is(article, aside, main, section) a:link:hover,
  :is(article, aside, main, section) a:link:focus,
  :is(article, aside, main, section) a:link:active,
  :is(article, aside, main, section) a:visited:hover,
  :is(article, aside, main, section) a:visited:focus,
  :is(article, aside, main, section) a:visited:active {
    color: #EEE;
    border-radius: 2px; }
  :is(article, aside, main, section) a:hover:before, :is(article, aside, main, section) a:focus:before, :is(article, aside, main, section) a:active:before,
  :is(article, aside, main, section) a:link:hover:before,
  :is(article, aside, main, section) a:link:focus:before,
  :is(article, aside, main, section) a:link:active:before,
  :is(article, aside, main, section) a:visited:hover:before,
  :is(article, aside, main, section) a:visited:focus:before,
  :is(article, aside, main, section) a:visited:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }

/*  HEADER and FOOTER ANCHOR TAGS */
:is(header, footer) a,
:is(header, footer) a:link,
:is(header, footer) a:visited {
  color: #EEE;
  transition: all .5s ease; }
  :is(header, footer) a:hover, :is(header, footer) a:focus, :is(header, footer) a:active,
  :is(header, footer) a:link:hover,
  :is(header, footer) a:link:focus,
  :is(header, footer) a:link:active,
  :is(header, footer) a:visited:hover,
  :is(header, footer) a:visited:focus,
  :is(header, footer) a:visited:active {
    color: #FFF; }

footer a:hover,
footer a:focus,
footer a:active {
  text-shadow: 0 0 10px #F7F7F7, 0 0 20px #EEE, 0 0 30px #FEB41C, 0 0 40px #FEB41C, 0 0 50px #FEB41C, 0 0 60px #FEB41C; }

.modal-button:hover svg, .modal-button:focus svg, .modal-button:active svg, .footer .nav-bar__link:hover svg, .footer .nav-bar__link:focus svg, .footer .nav-bar__link:active svg, .footer__social-link:hover svg, .footer__social-link:focus svg, .footer__social-link:active svg, .mim:hover svg, .mim:focus svg, .mim:active svg {
  border: none;
  background-color: transparent;
  animation-name: waggle-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

.footer__social-link {
  line-height: .5rem;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transform-origin: 0 100%; }

.isDisabled {
  color: currentColor;
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none; }

.modal {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  padding-top: 2%; }
  .modal__content {
    width: 95vw;
    height: 90vh;
    max-width: 60%;
    max-height: calc(100vh - 160px);
    position: relative;
    overflow: auto;
    border: thin solid #AFAFAE;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column; }
    .modal__content header {
      min-height: 6rem;
      height: 6rem;
      color: #F8F8F8;
      background-color: #474747;
      display: grid;
      padding-left: 1.4rem;
      align-items: center;
      grid-template-columns: auto 60px; }
      .modal__content header span.modal__close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        opacity: .8;
        cursor: pointer;
        font-size: 4rem; }
        .modal__content header span.modal__close:hover {
          opacity: 1; }
    .modal__content .modal-main {
      flex: 1;
      overflow: auto;
      padding: 1.4rem; }
    .modal__content footer {
      height: auto;
      border-top: solid 1px #333;
      padding: 1.4rem;
      background-color: #474747; }
      .modal__content footer button {
        margin: 0; }
        .modal__content footer button:not(:last-child) {
          margin-right: 1.4rem; }

.modal--show,
.modal--hide {
  display: flex; }

/* classes fired by js for animation control */
.modal.modal--show {
  animation: modal-open 0.3s; }

.modal.modal--hide {
  animation: modal-close 0.3s; }

.pullquote-left, .pullquote-right {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: calc(.75rem + 1vw);
  font-style: italic;
  letter-spacing: 0;
  width: 30%;
  margin: .6rem 1rem 1.2rem; }

.pullquote-left {
  float: left;
  padding-right: 1rem;
  border-left: none;
  border-right: 2px solid #777; }

.pullquote-right {
  float: right;
  padding-left: 1rem;
  border-left: 2px solid #777; }

#contact-img,
#schedule-img,
#location-img {
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 600px) {
    #contact-img,
    #schedule-img,
    #location-img {
      display: none; } }

.columns {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  place-items: center; }
  .columns__col-3 {
    align-items: start; }

.column__text {
  display: flex;
  flex-direction: column;
  padding: 4rem; }
  .column__text img {
    align-self: center;
    width: 20rem;
    height: auto; }

.column__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center; }
  @media screen and (max-width: 720px) {
    .column__img {
      display: none; } }

footer {
  padding: 2rem 0; }

.footer {
  color: #F7F7F7;
  font-size: calc(.75rem + .625vw);
  white-space: nowrap;
  background-color: #0E0D0D;
  grid-column: container-start / container-end;
  background-image: linear-gradient(#0E0D0D, #333);
  /*  ,
      url("../img/footer/footer-bg.jpg");
    @extend %bg;
    @extend %sec-padding;
   */
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 8vh; }
  .footer .nav-bar__item {
    margin-bottom: 1.5rem; }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 27.5rem);
    place-content: center;
    grid-gap: 10rem 2vw; }
    .footer__content a {
      border: none; }
    .footer__content ul {
      line-height: 3; }
    .footer__content div:not(:last-child) {
      border-right: thin solid rgba(238, 238, 238, 0.2); }
    .footer__content div:nth-child(3) {
      padding-right: 4vw; }
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid rgba(238, 238, 238, 0.2); }
    .footer__logo img {
      margin-bottom: 1rem; }
  .footer__copyright {
    display: block;
    text-align: center; }

.noshow {
  color: transparent !important; }
  .noshow:hover, .noshow:focus, .noshow:active {
    border: none;
    background-color: transparent;
    text-shadow: none; }

/* FLEXBOX BASED RESPONSIVE HEADER & NAV BAR  */
header {
  grid-column: container-start / container-end;
  position: sticky;
  top: 0;
  z-index: 999; }

.header, .header__nav-bar {
  color: #FFF;
  padding: 1rem 4rem; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo--img {
    height: 3.5rem; }
  .header__nap {
    line-height: 1.2; }
  .header__nav-bar--links {
    display: flex; }
  @media screen and (max-width: 1280px) {
    .header__usp {
      display: none; } }

.bg-black {
  background-color: #24221F;
  transition: all .5s ease; }

.bg-trans {
  background-color: transparent;
  transition: all .5s ease; }

/* HIGHLIGHT CURRENT PAGE */
header li.is-current-page {
  background-color: #FEB41C; }
  header li.is-current-page a {
    color: #0E0D0D; }
  header li.is-current-page:hover {
    background-color: #ffde9b; }

footer li.is-current-page a {
  color: #FEB41C; }

footer li.is-current-page svg {
  fill: #FEB41C; }

/* NAV BURGER */
.nav-burger {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 7rem;
  left: 1.5rem;
  cursor: pointer;
  background-color: #8E001C;
  padding: 1rem;
  border-radius: 50%;
  z-index: 9;
  display: none;
  flex-direction: column;
  justify-content: space-around; }
  @media screen and (max-width: 960px) {
    .nav-burger {
      display: flex; } }

/* NAV BURGER TRANSFORM  */
.line {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  border-radius: 0.2rem;
  transition: all 0.4s ease-in-out; }

.clicked .line-1 {
  transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem); }

.clicked .line-2 {
  opacity: 0; }

.clicked .line-3 {
  transform: rotateZ(405deg) translate(-0.8rem, -0.6rem); }

/* HEADER NAV BAR */
.header__nav-bar {
  display: flex;
  justify-content: space-between;
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:800px)  *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Nav bar to vertical *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/ }
  .header__nav-bar ul {
    list-style-type: none; }
  .header__nav-bar--item {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
    min-width: 11rem;
    padding: 0 2rem;
    text-align: center;
    background-color: #8E001C;
    border-radius: 3px;
    transition: all .2s; }
    .header__nav-bar--item a {
      border: none; }
  .header__nav-bar--item:hover {
    background-color: #ff0f3e;
    transform: translateY(-0.5rem); }
  .header__nav-bar--item:active, .header__nav-bar--item:focus {
    background-color: #ff8ea4;
    transform: translateY(-1rem); }
  .header__nav-bar--cta {
    color: #17125B; }
  @media screen and (max-width: 960px) {
    .header__nav-bar {
      display: none;
      opacity: 0;
      position: absolute;
      top: 6.2rem;
      right: -30%;
      width: 30%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #8E001C;
      padding-top: 15rem;
      transition: all 0.35s ease-in; }
    .header__nav-bar--links {
      flex-direction: column; }
    .header__nav-bar--item {
      color: #F7F7F7;
      flex: 1;
      margin: 1rem 0;
      min-width: 5rem;
      padding: 0 2rem;
      text-align: center;
      background-color: #8E001C;
      transition: all .2s; }
    .header__nav-bar--cta {
      display: none; } }

.show-nav-bar {
  display: flex;
  animation: animateright 0.4s;
  right: 0;
  opacity: 1;
  position: fixed;
  padding-top: 0;
  height: max-content; }

section {
  background-color: #F7F7F7; }
  section p:not(:last-child),
  section li:not(:last-child) {
    margin-bottom: 0.6rem; }
  section p:last-child,
  section li:last-child {
    margin-bottom: 2rem; }

.contact__txt {
  background-color: rgba(248, 248, 248, 0.75);
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, max-content) 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 2rem; }

#contact-img {
  background: url(https://cdn.mojoimpact.net/images/contact-mojo-impact.svg) no-repeat center center/contain; }

#schedule-img {
  background: url(https://cdn.mojoimpact.net/images/contact-appointment.svg) no-repeat center center/contain;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px; }

#location-img {
  background: url(https://cdn.mojoimpact.net/images/mailing-address.svg) no-repeat center center/contain; }

.contact__txt div {
  display: grid;
  align-items: center; }

.contact__txt p {
  font-size: calc(.75rem + 1vw);
  margin-bottom: 0 !important; }

.contact__txt .title {
  grid-area: 1 / 1 / 2 / 4; }
  .contact__txt .title svg {
    display: inline;
    vertical-align: middle; }

.contact__txt svg {
  height: 4rem;
  width: 4rem;
  fill: #0E0D0D; }

.contact__txt .action {
  color: #17125B; }

.contact__txt .value {
  color: #8E001C; }

.location__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.addr-wrapper {
  display: flex;
  padding: 4rem;
  background-color: rgba(36, 34, 31, 0.9);
  color: #F8F8F8;
  flex-direction: column; }

.schd-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column; }

.iframe-wrapper {
  width: 40vw;
  height: 40vh;
  background-color: grey;
  /* border: 2px solid $color-grey-med-3; */
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  @media screen and (max-width: 600px) {
    .iframe-wrapper {
      width: 90vw; } }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.montage {
  /* 
    background: linear-gradient(rgba($color-white-2, .1), rgba($color-alabaster, .4)), 
    url(../img/montage/question-sq-33.jpg) no-repeat right top /cover;
    background-size: cover;
 */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media screen and (max-width: 600px) {
    .montage {
      display: none; } }
  .montage__img {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    transition: all .3s ease; }
    .montage__img--1 {
      width: 115%;
      grid-row: 2/ 4;
      grid-column: 1 / 4; }
    .montage__img--2 {
      width: 100%;
      grid-row: 3 / 5;
      grid-column: 4 / 7; }
    .montage__img--3 {
      width: 120%;
      grid-row: 4 / 6;
      grid-column: 2 / 5;
      z-index: 20; }
    .montage__img--4 {
      width: 95%;
      grid-row: 2/ 4;
      grid-column: 2 / 5; }
    .montage__img--5 {
      width: 120%;
      grid-row: 3 / 6;
      grid-column: 2 / 6;
      z-index: 10; }
    .montage__img--6 {
      width: 100%;
      grid-row: 5 / 7;
      grid-column: 3 / 6;
      z-index: 20; }
    .montage__img--1:hover, .montage__img--2:hover, .montage__img--3:hover, .montage__img--4:hover, .montage__img--5:hover, .montage__img--6:hover {
      transform: scale(1.25);
      z-index: 99; }
