// COLORS
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white:           #FFF;
$color-black:           #000;

$color-white-1:       #F7F7F7;
$color-white-2:       #EEE;
$color-alabaster: #F8F8F8;

$color-delta-grey: #AFAFAE;

$color-grey-med-1:      #999;
$color-grey-med-2:      #777;
$color-grey-med-3:      #474747;

$color-grey-drk-1:      #363636;
$color-grey-drk-2:      #333;
$color-abbey:           #4F5051;

$color-mojo-grey-lt:    #5E7C88;
$color-mojo-grey-med:   #4B5F6D;

$color-mojo-grey-drk:   #363F45;
$color-ship-grey:       #3A393F;

$color-mojo-charcoal:   #24221F;
$color-mojo-black:      #0E0D0D;


$color-saffron:         #FEB41C;
$color-mojo-hot:        #E8175D;
$color-red-drk:         #8E001C;
$color-blue-drk:        #17125B;

$color-green:           #55c57a;
$color-green-lt:        #7ed56f;
$color-green-drk:       #28b485;

$color-saffron-invert: findColorInvert($color-saffron);

$shadow-glow: 0 0 10px $color-white-1, 0 0 20px $color-white-2, 0 0 30px $color-saffron, 
              0 0 40px $color-saffron, 0 0 50px $color-saffron, 0 0 60px $color-saffron,; 
// FONT
$font-primary: 'Roboto', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


$font-sizes: (
  "font-size-small": calc(.75rem + .25vw),
  "font-size-std"  : calc(.75rem + .625vw),
  "font-size-regular": calc(1rem + .5vw),
  "font-size-medium": calc(.75rem + 1vw),
  "font-size-large": calc(1rem + 1vw),
  "font-size-xlarge": calc(1.6rem + 1vw),
  "font-size-xxlarge": calc(2rem + 1vw),
);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;