.columns{
    grid-column: container-start / container-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        
    place-items: center;

    &__col-2{            
        & img{
            display: block;
            @media screen and (max-width: 720px) {
                display:none;
            }
        }         
    }
} 