%col-img {
    height: 100%;
    width: 100%;      
    @media screen and (max-width: 600px) {
        display:none;
    }
}

.columns{
    grid-column: container-start / container-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));        
    place-items: center;
} 

.column{
    &__text{
        padding:4rem;
    }

    &__img{        
        width: 100%; 
        height: auto;
       // padding:1rem;
        display: flex;
        justify-content: center;
        align-content: center; 
        @media screen and (max-width: 720px) {
            display:none;
        }
    }
}