.footer {
    display: grid;
    grid-column: container-start / container-end;
    color: $color-white-1;
    background-color: $color-mojo-black;
   /*  position: absolute;
    bottom: 0; */
   // display: flex;   
    padding: 1rem 4rem;
}