/* FLEXBOX BASED RESPONSIVE HEADER & NAV BAR  */
header{
    grid-column: container-start / container-end;  
    position: sticky;
    top: 0;   
}
.header, .header__nav-bar{
    color: $color-white;
    //background-color: $color-mojo-charcoal;
  //  background-color: transparent;
    padding: 1rem 4rem;
}
.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        display: flex;    
        align-items: center;
    }

    &__logo--img {
        height: 3.5rem;
    }
    
    &__nap {         
        //font-size: 1.5rem;
        line-height: 1.2;       
    }    

    &__nav-bar--links{
        display: flex;
    }

    @media screen and (max-width: 1280px) { 
        &__usp{display: none;} 
    }
}

.bg-black{
    background-color:$color-mojo-charcoal;
    transition:all .5s ease;
}
.bg-trans{
    background-color:transparent;
    transition:all .5s ease;
}

