.header {


    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo--img {
        height: 3.5rem;
    }
    
    &__nap {
 
        text-align: center;
    }
}