section {
    background-color: $color-white-1;    
    //padding: 2rem;

    & p:not(:last-child),
    & li:not(:last-child) {
        margin-bottom: 0.6rem;
    }

    & p:last-child,
    & li:last-child {
        margin-bottom: 2rem;
    }
}
