node_modules/
package-lock.json
package.json
README.md
setup-npm.txt
mojo-impact.code-workspace
js/mojo.menu.js
testy.php
mod.html
css/mojo-style.css
mojo.functions.jquery.js
css/mojo-style.css

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
img/sprite.svg
css/mojo-style.css
img/angle-up.svg
css/mojo-style.css
keyboard-shortcuts-windows.pdf
css/mojo-style.css
img/sprite2.svg
img/sprite3.svg
img/sprite4.svg
img/sprite5.svg
img/icomoon/demo-external-svg.html
img/icomoon/demo.html
img/icomoon/Read Me.txt
img/icomoon/selection.json
img/icomoon/style.css
img/icomoon/svgxuse.js
img/icomoon/symbol-defs.svg
img/icomoon/demo-files/demo.css
img/icomoon/sprite/sprite.css
img/icomoon/sprite/sprite.html
img/icomoon/sprite/sprite.svg
img/icomoon/SVG/bubbles4.svg
img/icomoon/SVG/checkmark.svg
img/icomoon/SVG/circle-up.svg
img/icomoon/SVG/cross.svg
img/icomoon/SVG/facebook2.svg
img/icomoon/SVG/file-text1.svg
img/icomoon/SVG/google2.svg
img/icomoon/SVG/instagram.svg
img/icomoon/SVG/linkedin.svg
img/icomoon/SVG/paypal.svg
img/icomoon/SVG/policy-o.svg
img/icomoon/SVG/quotes-left.svg
img/icomoon/SVG/shift.svg
img/icomoon/SVG/star-empty.svg
img/icomoon/SVG/twitter.svg
img/icomoon/SVG/youtube.svg
