%btn {
    font-family: $font-display;
    font-weight: 600;    
    line-height:1rem;
    text-align:center;
    text-decoration:none;
    outline:none;
    padding: 1rem 4rem;
    display: inline-block;
}

.mojo-btn {
    &,
    &:link,
    &:visited {
        @extend %btn;
        //text-transform: uppercase;        
        
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--saffron {
        background-color: $color-saffron;
        color: $color-grey-drk-3;

        &:hover {
            background-color: darken($color-saffron, 10%);
            color:lighten($color-saffron, 50%)
        }
        &::after {
            background-color: $color-saffron;
        }
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-drk-3;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}


.btnScrollToTop {
    @extend %btn;
    width:5rem;
    height:5rem;
    font-size:2rem;
    color: $color-white;    
    background:rgba($color-red-drk, .5);
    border:thin solid $color-white ;
    border-radius: 50%;
    z-index:99;
    padding: 0;
    //@error:none;
    //display:inline-block;
    position:fixed;
    bottom:3rem;
    right:3rem;

    opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
    
    &:hover {         
        background:rgba($color-red-drk, .75);
    }
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
  }