%btn {
    font-family: $font-display;
    font-weight: 600;    
    line-height:1rem;
    text-align:center;
    text-decoration:none;
    outline:none;   
    display: inline-block;
    cursor: pointer;
    justify-content: center;    
    padding: calc(.5em - 1px) 1em;  
    white-space: nowrap;
    border-radius: 1rem !important;
    border: thin solid currentColor;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);  
    }
}

.btn {
    &,
    &:link,
    &:visited {
        @extend %btn;
        background-color: $color-white;       
        color: currentColor; 

        &::before{
            background-color: transparent; // No slide-up
        }
    }    

    &:hover {
        background-color: $color-grey-med-1;
        border-color: $color-grey-med-2;             
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(3px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--saffron {
        background-color: $color-saffron !important;
        color: $color-grey-med-3 !important;
        border-color: darken($color-saffron, 10%) !important;

        &:hover {
            background-color: lighten($color-saffron, 10%) !important;
            color:lighten($color-saffron, 50%) !important;
            border-color: currentColor !important ;
        }
        
    }

    &--red {
        background-color: $color-red-drk !important;
        color: $color-alabaster !important;
        border-color: darken($color-red-drk, 10%) !important;

        &:hover {
            background-color: lighten($color-mojo-hot, 10%) !important;
            color:lighten($color-mojo-hot, 50%) !important;
            border-color: currentColor !important ;
        }
        
    }
}

.btnScrollToTop {
    @extend %btn;
    width:5rem;
    height:5rem;
    font-size:2rem;    
    background-color:rgba($color-red-drk, .6); 
    z-index:99;
    padding: 0;    
    position:fixed;
    bottom:3rem;
    right:3rem;
    opacity: 0;
    transition: all 0.5s ease; 
  
    & svg{
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        display: inline-block;
        fill: $color-white-2;
        transition: fill 0.5s ease;
              
    }

    &:hover {         
        background-color:rgba($color-red-drk, .9);

        & svg{
            fill: $color-white;
        }
    }
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
  }
