.hero{
    grid-column: container-start / container-end;
    padding: 2rem;
    background: linear-gradient(to right, rgba($color-grey-med-3, .4), rgba($color-mojo-black, .5)),
                url(../img/boxing-gloves.jpg) 
                no-repeat center center ;
    background-size: cover;
    /* min-height: 60vh; */
    
}