%icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 2px; 
  vertical-align: middle; 
}
svg.icon {
  @extend %icon;
  fill:currentColor;

    &-blue{
      @extend %icon;
      fill:$color-blue-drk; 
    }
    &-green{
      @extend %icon;
      fill:$color-green-drk;
    }
    &-red{
      @extend %icon;
      fill:$color-red-drk;
    }    
    &-saffron{
      @extend %icon;
      fill:$color-saffron;
      stroke: $color-grey-drk-2;
      stroke-width: 2;
    }  
    &-white{
      @extend %icon;
      fill:$color-white;
      stroke: $color-grey-drk-2;
      stroke-width: 2;
    }     
  }

  .footer__code-icon{
    height:3rem
  }