%link {
    color:currentColor;    
    text-decoration: none;
    cursor: pointer;
    padding: 0 2px;    
    display: inline-block;
    vertical-align: baseline;  
}


/*  Text ANCHOR TAGS with slide-up effect */
:is(article, aside, main, section) a,
:is(article, aside, main, section) a:link,
:is(article, aside, main, section) a:visited{
    @extend %link;
    border-bottom:1px solid $color-red-drk; 
    transform: perspective(1px) translateZ(0);    
    position: relative;
    transition:all .5s ease;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-red-drk;        
        transform: scaleY(0);        
        transform-origin: 50% 100%;
        transition:all .5s ease;       
      }
      
    &:hover,
    &:focus,
    &:active{    
      color:$color-white-2;
      border-radius:2px
    }

    &:hover:before, 
    &:focus:before, 
    &:active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }    
}

/*  HEADER and FOOTER ANCHOR TAGS */
:is(header, footer) a,
:is(header, footer) a:link,
:is(header, footer) a:visited{
    @extend %link;
    color: $color-white-2;
    transition:all .5s ease; 

    &:hover,
    &:focus,
    &:active{    
      color:$color-white;
    }
}

footer{
  & a:hover,
  & a:focus,
  & a:active{   
    text-shadow: $shadow-glow;   
  }
}

.footer__social-link{
	line-height:.5rem;
	display:inline-block;
	vertical-align:middle;	
	transform:perspective(1px) 
	translateZ(0);
	box-shadow:0 0 1px transparent;	
	transform-origin:0 100%;

  &:hover,
  &:focus,
  &:active{
    border: none;
    background-color:transparent;
    animation-name:waggle-top;    
    animation-duration:1s;   
    animation-timing-function:ease-in-out;    
    animation-iteration-count:1;

    & svg{
      fill:$color-saffron !important;
    }  
  }  
}


.isDisabled {
  color: currentColor;
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none;
}
