// RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    color: $color-white-2;
    background-color: $color-mojo-hot;
  }

html {    
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% 
}

body {   
    box-sizing: border-box;      
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] 
    repeat(10,[col-start] minmax(min-content, 11rem) [col-end])
    [center-end] 1fr [container-end];
  grid-template-rows: min-content 60vh repeat(12, min-content);
}

.pg-name{
    display: none;
}

