*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {    
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% 
}

body {
    box-sizing: border-box;
    height: 80rem;
    display: grid;
    grid-template-rows: min-content 40vh repeat(6, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr)
                           [center-start] repeat(8, [col-start] minmax(min-content, 14rem) 
                           [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
}

.pg-name{
    display: none;
}

