//ELEMENTS
body{    
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    color: $color-mojo-black;
    font-size: font-size(font-size-regular);
}
%heading {
    font-family: $font-display;
    font-weight: 600;    
    line-height: 1;
    margin: 1rem 0;
}
h1 {
    @extend %heading;      
    font-size: font-size(font-size-xxlarge);          
}    
h2 {
    @extend %heading;      
    font-size:font-size(font-size-xlarge);    
}    
h3 {
    @extend %heading;   
    font-size: font-size(font-size-large);
}
h4 {
    @extend %heading;   
    font-size: font-size(font-size-medium);
};
p,ul,ol{
    font-size:  font-size(font-size-medium);
}
ul,ol{
    margin-left: 1.4rem;   
    list-style: none; 
}
ol {    
    counter-reset: cnt;
    & li {counter-increment: cnt;}
    & li::before {content: counter(cnt) ") ";}
  }
blockquote{
    font-family: $font-display;
    border-left:.2rem solid $color-grey-med-2;
    margin:1.5em 10px;
    padding:0.5em 10px;
    quotes: ' \201C ' ' \201D ';
    font-weight:500;    
    font-size:font-size(font-size-medium);
    width: calc(80vw);
    &:before{
        color:$color-grey-med-2;
        content:open-quote;
        font-size:calc(10rem + .625vw);
        line-height:0.1rem;
        margin-right:0.25rem;
        position: relative;
        top: 4rem;
    }    
    & p{
        display:inline;
    }
}
// CLASSES
.font-size-xsmall   {font-size: font-size(font-size-xsmall);}
.font-size-small    {font-size: font-size(font-size-small);}
.font-size-medium   {font-size: font-size(font-size-medium);}
.font-size-large    {font-size: font-size(font-size-large);}
.font-size-xlarge   {font-size: font-size(font-size-xlarge);}
.font-size-xxlarge  {font-size: font-size(font-size-xxlarge);}
.dropcap{
	float: left;
    font-size: 4rem;
    height: 4.1rem;
    line-height: 3rem;
    margin-bottom: -1rem;
    margin-right: .8rem;
    padding-top: .5rem;
    text-align: center;
    width: 2.6rem;
}