.montage{  
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;    
    @media screen and (max-width: 600px) {
        display:none;
    }
    &__img{
        box-shadow: 0 2rem 5rem rgba(#000, .1);
        transition: all .3s ease;   
        &--1 {
            width: 115%;
            grid-row: 2/ 4;
            grid-column: 2 / 5;   
        }
        &--2 {
            width: 100%;
            grid-row: 3 / 5;
            grid-column: 4 / 7;
               
        }
        &--3 {
            width: 120%;
            grid-row: 4 / 6;
            grid-column: 1 / 4;
            z-index: 20;              
        }
        &--4 {
            width: 95%;
            grid-row: 2/ 4;
            grid-column: 3 / 6;   
        }
        &--5 {
            width: 120%;
            grid-row: 3 / 6;
            grid-column: 2 / 6;
            z-index: 10;   
        }
        &--6 {
            width: 100%;
            grid-row: 5 / 7;
            grid-column: 4 / 7;
            z-index: 20;              
        }
        &--1:hover, &--2:hover, &--3:hover,
        &--4:hover, &--5:hover, &--6:hover{    
        transform: scale(1.25) ;
        z-index: 99;
      }
    }
}
